[project]
name = "youtube-cues-generator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "openai>=1.0.0",
    "youtube-transcript-api>=1.2.3",
]
